@import "~bootstrap/dist/css/bootstrap.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(242, 242, 242);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-site-sm {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.1875rem 0.5rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-16 {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .mb-xs-0 {
    margin-bottom: 0;
  }
  .mt-xs-3 {
    margin-top: 1rem !important;
  }
}
